body{
  
background: #000;
}

h4{
    color: white;
}
div{
    align-items: center;
text-align: center;
}
button{
    border-radius: 200px;
    border: 0px;
}

a{
    color: white;
text-decoration: overline;
}
h1{
    color: red;
}

h2{
    color: red;
}

.b{
    background-color:  rgba(5, 192, 12, 1);

}

li{
    color: white;
}

p{
    color: white;
}

input{
    border-radius: 200px;
border: 0;

}


h3{
    color: white;
}

ul li:before {
    content: '•';
    color: red }

    li{
        list-style-type: none;
    }